.input-field {
  margin: 0 0 15px;
}
.input-field label {
  display: block;
  font-size: 14px;
  color: #1c1e28;
  margin: 0 0 5px;
}
.input-field input {
  padding: 1em;
  height: 52px;
  box-sizing: border-box;
  border: 2px solid #e8e8e9;
  background: 0 0;
  transition: all 0.15s ease;
}

.user-info-section {
  padding-bottom: 20px;
}

.quiz-submit {
  display: inline-block;
  padding: 19px 28px 20px;
  vertical-align: middle;
  border: 0;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.1em;
  position: relative;
  width: 100%;
  margin-top: 10px;
  transition: all 0.15s ease-out !important;
  background-color: #10cc9e;
}

.quiz-submit:hover {
  background: #000;
  color: #fff;
}
